@model graphs_demo.Models.AlchemyDemoModel
<h1>@ViewBag.Comment</h1>
<script type="text/javascript" src="http://cdn.graphalchemist.com/alchemy.min.js">
</script>
<div class="container-fluid">
    <div class="row">
        <div class="alchemy col-md-6" id="alchemy"></div>
        <div class="col-md-6">           
            <p><strong>PROJECT</strong></p>
            <p>@Model.nodes.Where(n => n.root).First().caption</p>
            
            <p><strong>CONTRIBUTORS</strong></p>
            @foreach (var node in Model.nodes)
            {
                if (!node.root)
                {
                    <p>@node.id @node.caption @node.fun_fact</p>
                    <p>@Model.edges.Where(e => e.source.Equals(node.id)).First().caption</p>
                }
            }
        </div>
    </div>
</div>
    <script src="http://cdn.graphalchemist.com/alchemy.min.js"></script>
    <script type="text/javascript">
        var config = {
            dataSource: '/Demo/data/contrib.json',
            forceLocked: false,
            graphHeight: function () { return 500; },
            graphWidth: function () { return 500; },
            linkDistance: function () { return 20; },
            nodeTypes: {
                "node_type": ["Maintainer",
                        "Contributor"]
            },
            nodeCaption: function (node) {
                return node.caption + " " + node.fun_fact;
            }
        };

        alchemy = new Alchemy(config)
    </script>

